/* Move down content because we have a fixed navbar that is 50px tall */
body {
   /* padding-top: 50px;
    padding-bottom: 20px;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", 'sans-serif';
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    /* background-color: #E93C35;*/
    padding: 5px 0;
    position: sticky;
    top: 0;
    left: 0;
  /*  box-shadow: 1px 0px 7px rgb(181, 181, 181);*/
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  /*  justify-content: space-around;*/
    flex: 1;
    justify-content: space-between;
}

.navbar-brand,
.navbar-links {
    display: flex;
    align-items: center;
}

.nav-link {
    font-weight: 600;
}

.navbar-brand {
    flex-grow: 1;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

/* .navbar-links a {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 700;
} 

 .navbar-links a:hover{
  color: #E93C35;
  transition: 0.3s all ease-in-out;
} */



.information {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.manual-key,
.manual-key2 {
    width: 370px;
    border-radius: 10px;
    border: 3px solid #bbbbbb;
    box-sizing: border-box;
    margin: 0.9rem;
    background-color: #fff;
}

    .manual-key h2,
    .manual-key2 h2 {
        margin-bottom: 1rem;
        background-color: grey;
        color: #fff;
        font-size: 20px;
        padding: 10px;
    }

.horizontal-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    padding: 0 14px;
}


label {
    flex: 1;
    margin-right: 10px;
}

.fixed-size-input {
    width: 100px;
    padding: 2px;
    box-sizing: border-box;
}

.fixed-size-input-Readonly {
    width: 100px;
    padding: 2px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-weight: 600;
}

.form {
    width: 370px;
    height: 500px;
    border: 3px solid #000;
    border-radius: 10px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #333;
    font-weight: bold;
}

    .form h2 {
        background-color: grey;
        color: #fff;
        padding: 5px;
        font-size: 20px;
    }

.info {
    margin: 5px 20px;
}

.input-info {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .input-group label {
        margin-right: 10px;
    }

select {
    width: 60%;
    padding: 6px;
    box-sizing: border-box;
}

input {
    /*width: 100%;*/
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-top: 5px;
}

.label {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding: 2rem 2rem;
    margin-bottom: 10px;
    margin: 0 20px;
}

button {
    padding: 10px;
    background-color: rgb(15, 161, 15);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

    button:hover {
        background-color: rgb(20, 176, 20);
        transform: scale(1.02);
    }

.footer {
    background-color: #E93C35;
    color: #fff;
   /* padding: 20px 0;*/
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer_container {
    display: flex;
    align-items: center;
   /* justify-content: space-between;*/
    padding: 0 4rem;
}

.footer_text {
    font-weight: bold;
}

.footer_link a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.card {
    width: calc(30% - 5px);
    margin-bottom: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-changepassword {
    margin-bottom: 10px;
/*    background-color: #f0f0f0;*/
    padding: 10px;
 /*   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.field {
    /* margin-bottom: 5px;*/
}

input[type="text"],
select {
    /*width: 100%;*/
    /* padding: 8px;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
}

.buttons {
    /*  display: flex;*/
    justify-content: center;
}

.btn {
    margin: 0 10px;
}

.catchy-label {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #4caf50; /* Green color for the label */
}

.catchy-green {
    background-color: #4caf50; /* Red button color */
}

.catchy-red {
    background-color: #e64a19; /* Darker red button color on hover */
}

.fixed-size-input {
    width: 100px;
    padding: 2px;
    box-sizing: border-box;
}

.fixed-size-input {
    width: 100px;
    padding: 2px;
    box-sizing: border-box;
}

.fixed-size-input-long {
    width: 300px;
    padding: 2px;
    box-sizing: border-box;
}

.fixed-size-input-Readonly-long {
    width: 300px;
    padding: 2px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-weight: 600;
}

.fixed-size-label {
    width: 120px;
    padding: 2px;
    box-sizing: border-box;
}

.fixed-size-Select {
    width: 50px;
    padding: 2px;
    box-sizing: border-box;
}

.fixed-size-label-long {
    width: 300px;
    padding: 2px;
    box-sizing: border-box;
}

.logo img {
    width: 301px; /* Adjust the width as needed */
    height: 56px; /* Automatically adjust height to maintain aspect ratio */
}


.buttons {
    display: flex;
    justify-content: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

.btn {
    margin: 0 10px;
    padding: 8px 16px;
    background-color: #007bff;
    Default button color color: #fff;
    Text color border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;
}

    .btn:hover {
        background-color: #0056b3;
        Button color on hover
    }

.error-message {
    color: red;
}

h6 {
    font-weight: 600;
}

.centered-content {
    display: flex;
    /*    justify-content: center;
    align-items: center;*/
    height: 75vh; /* Set the height of the container to full viewport height */
    padding-left:40%;
  /*  padding-top:1%;*/
}

.check-box-width {
    width: 20px;
}

.td-spacing {
    padding-left: 25px; /* Adjust the padding as needed */
}

.page-header {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: bold; /* Optionally, make the text bold */
    padding: 10px; /* Add padding for spacing */
   /* background-color: #f0f0f0;*/ /* Optionally, add background color */
    /*border-bottom: 2px solid #ccc;*/ /* Optionally, add a bottom border */
    width:750px;
}

.login-container {
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 750vh;
    /*height:100px;*/
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


.checkbox-margin-bottom {
    margin-bottom: 25px;
  /*  margin-left: 125px;*/
/*    width: 500px;*/
}

.Popbutton {
    padding: 10px;
    background-color: rgb(15, 161, 15);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

.Popbutton:hover {
    background-color: rgb(20, 176, 20);
    transform: scale(1.02);
}

.flex-grow-1 {
    flex-grow: 1;
}

.ml-2 {
    margin-left: 0.5rem; /* Adjust margin as needed */
}

.text-danger {
    white-space: nowrap; /* Prevents the validator from wrapping */
}




